__pycache__
tmp
build
workspace
*ipynb
.vscode
oaib.txt
*DS_Store*
/test_*
*egg-info
.yarn
runs
node_modules
CLAUDE.md
AGENTS.md
**/images/*.png
**/images/*.jpg

# Copy from vuejs

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
deeppresenter/deeppresenter/config.yaml
deeppresenter/deeppresenter/mcp.json